input {
  padding: 0.5rem;
  border-radius: 0.2rem;
  width: 10rem;
}

body {
  background-color: cornflowerblue;
}

.app-container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  background-color: aquamarine;
  height: fit-content;
  width: 15rem;
  padding-bottom: 2rem;
}

label {
  padding: 1rem;
  align-self: start;
  margin-left: 1rem;
}

button {
  margin-top: 1.5rem;
  padding: 0.5rem;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  /* text-align: center; */
  display: flex;
justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  padding-right: 2.5rem;
  padding-left: 2rem;
  background-color: #dddddd;
}